<header>
  <div class="taskbar d-flex justify-content-between">

    <div class="option-left d-flex">
      <div class="admin p-3">

        <a href="#">
          <i class="bi bi-gear-fill" style="font-size: 27px; color: #be3932; margin-right: 1.5rem;"></i>
          <span style="color:#be3932 ;">QUẢN TRỊ</span>
        </a>
      </div>

      <div class="setting p-3">
        <a href="#" style="text-decoration: none;">

          <i class="bi bi-list" style="margin: 0 15px; font-size: 25px;"></i>

          <i class="bi bi-chevron-double-right"
            style="font-size: 10px; color: #98c38e; transform: translateY(-5px); display: inline-block; margin-right: 5px;"></i>
          <span style="color: #e4b445; display: inline-block; transform: translateY(-3px);">THIẾT LẬP HỆ THỐNG</span>
        </a>
      </div>
    </div>

    <div class="option-right">
      <a href="#">
        <i class="bi bi-grid-3x3-gap"></i>
      </a>

      <a href="#">
        <i class="bi bi-newspaper"></i>
      </a>

      <a href="#">
        <i class="bi bi-box-arrow-in-right"></i>
      </a>
    </div>
  </div>
</header>
