.structure-tree{
  background-color: #eaebef;
  padding: 3rem 1rem;
  min-width: 1175px;
  font-size: 13.5px;
  width: 80%;
}

.five-button{
  text-align: right;
  margin-bottom: 1rem;
}
.five-button button{
  margin: 1.7rem 1px 0 1px;
  background-color: white;
  font-size: 13px;
  padding:  3px 10px;
}

.five-button button a{
  text-decoration: none;
  color: black;
}

.tree{
  color: #575e6e;
}

.structure{
  padding: 1rem 1rem 1rem 0;
  background-color: white;
}


.tree .structure ul {
  list-style: none;
  position: relative;

}

.note{
  background-color:#485a6e ;
  color: #eaebef;
  font-size: 13px;
  width: 15%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 25rem;
  top: -3.4rem;
  display: none;
}

.note::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #485a6e;
  transform: translateY(100%);
}
.first-row:hover .note{
  display: block;
}


.first-row,.first-one-row, .first-one-one-row, .first-one-one-one-row, .first-one-two-row{
  background-color: #e5e5f1;
  margin-top: 5px;
  padding: 0 5px 0 0;
  position: relative;
}

.note1{
  background-color:#485a6e ;
  color: #eaebef;
  font-size: 13px;
  width: 15%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 25rem;
  top: -2.1rem;
  display: none;
}

.note1:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #485a6e;
  transform: translateY(100%);
}

.first-one-row:hover .note1{
  display: block;
}

.note2{
  background-color:#485a6e ;
  color: #eaebef;
  font-size: 13px;
  width: 15%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 25rem;
  top: -2.1rem;
  display: none;
}

.note2:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #485a6e;
  transform: translateY(100%);
}

.first-one-one-row:hover .note2{
  display: block;
}

.note3{
  background-color:#485a6e ;
  color: #eaebef;
  font-size: 13px;
  width: 15%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 25rem;
  top: -2.1rem;
  display: none;
}

.note3:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #485a6e;
  transform: translateY(100%);
}

.first-one-one-one-row:hover .note3{
  display: block;
}

.first-row:hover{
  background-color:#d1d3ec ;
}


.first-row .code{
  padding-left: 29px;
}

.first-row .col-3{
  padding-left: 30px;
}

.first-one-row:hover{
  background-color:#d1d3ec ;
}

.first-one-row .code-one{
  padding-left: 15px;
}

.first-one-row .col-3{
  padding-left: 20px;
}

.first-one-one-row:hover{
  background-color:#d1d3ec ;
}

.first-one-one-row .col-3{
  padding-left: 10px ;
}

.first-one-one-two-row .code-four{
  transform: translateX(-12px);
}

.first-one-one-one-row:hover{
  background-color:#d1d3ec ;
}

.first-one-one-one-row .code-three{
  transform: translateX(-12px);
}

.first-one-two-row:hover{
  background-color:#d1d3ec ;
}

.first-one-two-row .col-3, .first-one-three-row .col-3, .first-one-four-row .col-3, .first-one-five-row .col-3  {
  padding-left: 13px;
}
.structure .fas{
  font-size: 13px;
}

fa-icon{
  margin: 0 2px;

}

.bi-plus-lg::before{
  font-weight:900 !important;
}
/* ----------------------------------popup------------------------------------------------------ */

#popup{
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.5s;
}

#popup:target{
  visibility: visible;
  opacity: 1;
}

.detail-popup{
  width: 30rem;
  height: 33rem;
  background-color: #ffffff;
  text-align: left;
}

.detail-popup .title{
  width: 100%;
  font-size: 30px;
  padding: 12px 0 1px 30px;
  background-color: #f7f9fa;
  border-bottom: 1px solid #f0f3f5;
}

.main-popup{
  padding: 12px 30px 12px 30px;
}

.code-name{
  display: flex;
  margin-bottom: 10px;
}

.code input{
  width: 140px;
  padding: 3px;
  border-radius: 3px;
  margin-right: 10px;
  border: 1px solid #e5e6e8;
}

.code p{
  margin-bottom: 5px;
}
.name input{
  width:270px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #e5e6e8;
}

.name p{
  margin-bottom: 5px;
}

.chi-bo{
  position: relative;

}

.checking .check-left{
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 13px;
  left: -1px;
}

.chi-bo #chinhanh ~ .checking .check-left{
  opacity: 0;
  display: none;
}

.chi-bo #chinhanh:checked ~ .checking .check-left{
  opacity: 1;
  display: block;
}

.checking .check-right{
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 13px;
  right: 244px;
}

.chi-bo #bophan ~ .checking .check-right{
  opacity: 0;
  display: none;
}

.chi-bo #bophan:checked ~ .checking .check-right{
  opacity: 1;
  display: block;
}

.footer-popup{
  background-color: #f7f9fa;
  text-align: right;
  padding: 0 30px 12px 30px;
  border-top: 1px solid #f0f3f5;
  width: 100%;
  height: 4rem;
}

.footer-popup button{
  border-radius: 3px;
  margin-top: 1.1rem;
  padding: 4px 10px;
}

.footer-popup a{
  text-decoration: none;
}

.footer-popup a i{
  font-size: 13px;
  margin-right: 2px;
  transform: translateY(-1px);
  display: inline-block;
}

.bi-x-circle::before{
  font-weight: 900 !important;
}







