<div class="structure-tree ">

  <div class="five-button">


    <button *ngFor="let fiveButton of fiveButtons"
      [ngStyle]="{'margin-right': fiveButton.margins, 'border-radius': '1px'}">
      <a href="{{fiveButton.popup}}">
        <i class="{{fiveButton.icon}}"
          [ngStyle]="{'color': fiveButton.color,'font-size': '15px','display': 'inline-block', 'transform': 'translateY(1.5px)'}"></i>
        {{fiveButton.name}}
      </a>
    </button>
  </div>
  <!-- ---------------------------------------tree view------------------------------------------------- -->
  <div class="tree">
    <div class="structure">
      <ul *ngFor="let treeView of treeViews">
        <li>


            <div class="first-row d-flex">
              <div class="note">{{treeView.note}}</div>
              <p class="col-7" style="transform: translateY(8px);">
                <i class="bi bi-chevron-down" style="display: inline-block; transform: translateX(-7px);"></i>{{treeView.room}}
              </p>
              <p class="code col-1" style="transform: translateY(8px);">{{treeView.code}}</p>
              <p class="col-3" style="transform: translateY(8px); overflow: hidden;
              text-overflow: ellipsis; white-space: nowrap; width: 265px;">{{treeView.mission}}</p>
              <p class="col-1 ">
                <a href="#popup">
                  <i class="bi bi-plus-lg" style="color: blue; padding-top: 2px; float: right; transform: translate(15px, 8px);"></i>
                </a>
              </p>
            </div>


          <!-- ---------------------------popup-------------------------------- -->


          <!-- ----------------------------------------------------------------------------------------------------- -->

          <ul>
            <li *ngFor="let treeView of treeView.spaceOne">

                <div class="first-one-row d-flex">
                  <div class="note1">{{treeView.note}}</div>
                  <p class="col-7" style="transform: translate(-7px, 8px);">
                    <i class="bi bi-chevron-down"></i>
                    <i class="bi bi-diagram-3-fill" style="color: #4493c9; display: inline-block; margin: 0 5px;"></i>
                    {{treeView.room}}
                  </p>
                  <p class="code-one col-1" style="transform: translateY(8px);">
                    {{treeView.code}}
                  </p>
                  <p class="col-3" style="transform: translateY(8px); overflow: hidden;
                  text-overflow: ellipsis; white-space: nowrap;">
                    {{treeView.mission}}
                  </p>
                  <p class="col-1 float-end" style="text-align: right; transform: translate(17px, 8px);">

                    <a href="#popup">
                      <i class="bi bi-plus-lg" style="color: blue; margin-right: 3px; display: inline-block;"></i>
                    </a>
                    <a href="#">
                      <i class="bi bi-pencil-fill" style="color: yellow; margin-right: 3px; display: inline-block;"></i>
                    </a>
                    <a href="#">
                      <i class="bi bi-trash-fill" style="color: red; margin-right: 3px; display: inline-block;"></i>
                    </a>
                  </p>
                </div>

              <ul>
                <li *ngFor="let tree of treeView.spaceTwo">

                    <div class="first-one-one-row d-flex">
                      <div class="note2">{{tree.note}}</div>
                      <p class="col-7" style="transform: translate(-7px,8px);">
                        <i class="{{tree.font}}" style="display: inline-block; transform: translateX(8px);"></i>
                        <i class="bi bi-diagram-3-fill"
                          style="color: #4493c9;display: inline-block;margin:0 5px 0 15px;"></i> {{tree.room}}
                      </p>
                      <p class="col-1" style="transform: translate(-13px, 8px);">
                        {{tree.code}}
                      </p>
                      <p class="col-3" style="transform: translateY(8px); overflow: hidden;
                      text-overflow: ellipsis; white-space: nowrap; ">
                        {{tree.mission}}
                      </p>
                      <p class="col-1" style="text-align: right; transform: translate(17px,8px);">
                        <a href="#popup">
                          <i class="bi bi-plus-lg" style="color: blue; margin-right: 3px; display: inline-block;"></i>
                        </a>
                        <a href="#">
                          <i class="bi bi-pencil-fill" style="color: yellow; margin-right: 3px; display: inline-block;"></i>
                        </a>
                        <a href="#">
                          <i class="bi bi-trash-fill" style="color: red; margin-right: 3px; display: inline-block;"></i>
                        </a>
                      </p>
                    </div>

                  <ul>
                    <li *ngFor="let treeView of tree.spaceThree">

                        <div class="first-one-one-one-row d-flex">
                          <div class="note3">{{treeView.note}}</div>
                          <p class="col-7" style="transform: translateY(8px);">
                            <i class="bi bi-diagram-3-fill"
                              style="color: #4493c9;display: inline-block; margin: 0 5px;"></i>{{treeView.room}}
                          </p>
                          <p class="code-three col-1" style="transform: translate(-25px, 8px);">
                            {{treeView.code}}
                          </p>
                          <p class="col-3" style="transform: translate(-12px, 8px); overflow: hidden;
                          text-overflow: ellipsis; white-space: nowrap;">
                            {{treeView.mission}}
                          </p>
                          <p class="col-1" style="text-align: right; transform: translate(17px, 8px);">
                            <a href="#popup">
                              <i class="bi bi-plus-lg" style="color: blue; margin-right: 3px; display: inline-block;"></i>
                            </a>
                            <a href="#">
                              <i class="bi bi-pencil-fill" style="color: yellow; margin-right: 3px; display: inline-block;"></i>
                            </a>
                            <a href="#">
                              <i class="bi bi-trash-fill" style="color: red; margin-right: 3px; display: inline-block;"></i>
                            </a>
                          </p>
                        </div>

                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
