<div class="structure-tree col-9">

  <div class="five-button">
      <button><i class="fas fa-sync-alt" style="color: #1a6fdc;"></i>Refresh</button>
      <button><a href="http://127.0.0.1:5500/popup.html" style="text-decoration: none; color: black;"><i class="fas fa-plus" style="color: #3f9c4b;"></i>Thêm mới</a></button>
      <button><i class="far fa-file-excel"  style="color: #779576;"></i>Xuất file Exccel</button>
      <button><i class="fas fa-cloud-download-alt"></i>Tải file mẫu</button>
      <button><i class="fas fa-upload"  style="color: #bb3b45;"></i>Import</button>
  </div>

  <div class="tree">
      <div class="structure">
          <ul>
              <li>

                  <a href="#" style="text-decoration: none; color: black;">
                      <div class="first-row d-flex">
                          <div class="note">Hệ thống quản lý trực tuyến OOC</div>
                          <p class="col-7"> <i class="fas fa-chevron-down"></i>Hệ thống quản lý trực tuyến OOC</p>
                          <p class="code col-1">Mã</p>
                          <p class="col-3">Mô tả chức năng - nhiệm vụ</p>
                          <p class="col-1 "><i class="fas fa-plus float-end"
                                  style="color: blue; padding-top: 10px;"></i></p>
                      </div>
                  </a>

                  <ul>
                      <li>
                          <a href="#" style="text-decoration: none; color: black;">
                              <div class="first-one-row d-flex">
                                  <p class="col-7">
                                      <i class="fas fa-chevron-down"></i>
                                      <i class="fas fa-sitemap" style="color: #4493c9;"></i> Giám đốc
                                  </p>
                                  <p class="code-one col-1">
                                      BGD-1
                                  </p>
                                  <p class="col-3">
                                      Điều hành hoạt động doanh
                                  </p>
                                  <p class="col-1 float-end" style="text-align: right;">
                                      <i class="fas fa-plus" style="color: blue;"></i>
                                      <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                      <i class="fas fa-trash-alt" style="color: red;"></i>
                                  </p>
                              </div>
                          </a>
                          <ul>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-one-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-chevron-down"></i>
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i> Phó giám đốc Phụ trách kinh doanh
                                          </p>
                                          <p class="col-1">
                                              BGD-2
                                          </p>
                                          <p class="col-3">
                                              Điều hành khối kinh doanh
                                          </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>
                                  <ul>
                                      <li>
                                          <a href="#" style="text-decoration: none; color: black;">
                                              <div class="first-one-one-one-row d-flex">
                                                  <p class="col-7">
                                                      <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng phát triển thị trường
                                                  </p>
                                                  <p class="code-three col-1">
                                                      PTTT
                                                  </p>
                                                  <p class="col-3">
                                                      Marketing, chính sách giá cước
                                                  </p>
                                                  <p class="col-1" style="text-align: right;">
                                                      <i class="fas fa-plus" style="color: blue;"></i>
                                                      <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                                      <i class="fas fa-trash-alt" style="color: red;"></i>
                                                  </p>
                                              </div>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#" style="text-decoration: none; color: black;">
                                              <div class="first-one-one-two-row d-flex">
                                                  <p class="col-7">
                                                      <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng Kinh doanh
                                                  </p>
                                                  <p class="code-four col-1">
                                                      KD
                                                  </p>
                                                  <p class="col-3">
                                                      Mô tả chung
                                                  </p>
                                                  <p class="col-1" style="text-align: right;">
                                                      <i class="fas fa-plus" style="color: blue;"></i>
                                                      <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                                      <i class="fas fa-trash-alt" style="color: red;"></i>
                                                  </p>
                                              </div>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-two-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng Tài chính Kế Toán
                                          </p>
                                          <p class="col-1">
                                              TCKT
                                          </p>
                                          <p class="col-3">
                                              Quản trị tài chính DN & đầu tư
                                          </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-three-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng Quản trị Nguồn nhân lực
                                          </p>
                                          <p class="col-1">QTNNL
                                          </p>
                                          <p class="col-3">Xây dựng hệ thống & các </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                 <a href="#" style="text-decoration: none; color: black;">
                                  <div class="first-one-four-row d-flex">
                                      <p class="col-7">
                                          <i class="fas fa-sitemap" style="color: #4493c9;"></i>
                                          Phòng Marketing
                                      </p>
                                      <p class="col-1">
                                          MK
                                      </p>
                                      <p class="col-3">
                                          Mô tả chung
                                      </p>
                                      <p class="col-1" style="text-align: right;">
                                          <i class="fas fa-plus" style="color: blue;"></i>
                                          <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                          <i class="fas fa-trash-alt" style="color: red;"></i>
                                      </p>
                                  </div>
                                 </a>
                              </li>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-four-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng R&D
                                          </p>
                                          <p class="col-1">
                                              RD
                                          </p>
                                          <p class="col-3">
                                              Mô tả chung
                                          </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-five-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng Hành chính tổng hợp
                                          </p>
                                          <p class="col-1">
                                              HC
                                          </p>
                                          <p class="col-3">
                                              Mô tả chung
                                          </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" style="text-decoration: none; color: black;">
                                      <div class="first-one-four-row d-flex">
                                          <p class="col-7">
                                              <i class="fas fa-sitemap" style="color: #4493c9;"></i>Phòng Kỹ thuật
                                          </p>
                                          <p class="col-1">
                                              BGD-1-7
                                          </p>
                                          <p class="col-3">
                                              Mô tả chung
                                          </p>
                                          <p class="col-1" style="text-align: right;">
                                              <i class="fas fa-plus" style="color: blue;"></i>
                                              <i class="fas fa-pencil-alt" style="color: yellow;"></i>
                                              <i class="fas fa-trash-alt" style="color: red;"></i>
                                          </p>
                                      </div>
                                  </a>

                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>

          </ul>
      </div>
  </div>
</div>

