<div class="layout-one">
  <div class="layout-left">
      <p style="font-size: 16px; font-weight: 700; margin-bottom: 36px; line-height: 200%;">ハチハチのチェーンストアは、Go
          Vap区に五目店舗を開店しました。その店は200平方メートルの面積でGo Vap区の中心にあるPhan Van Tri通りに位置して1000 SKU以上が販売されています。7月9日にPhan Van
          Triのハチハチショップをオープンした時、店舗へ訪問してショッピングする顧.</p><br>
      <p style="font-size: 16px; font-weight: 400; margin-bottom: 36px; line-height: 200%;">
          日本から様々な商品を輸入された小売販売の利点により、国際女性の日（3月8日）に際して、ハチハチジャパンショップは　30万ドン以下の手頃な価格で色々な商品を組み合わせて、ユニークなギフトセットの提案していきます。おすすめギフトセットには可愛いミニカードが添付されています。これは女性への繊細なギフトで、受取人を喜ばせるだけでなく、買い手に安心と信頼をもたらします。
      </p>
      <img src="assets/img/Rectangle486.png" alt="" style="margin-bottom: 12px;">
      <p style="font-size: 13px; font-weight: 400; color: #9DA19D; text-align: center; margin-bottom: 36px;">Photo
          title holder - もたらしま</p>
      <p style="font-size: 16px; font-weight: 400; margin-bottom: 24px; line-height: 200%;">
          日本から様々な商品を輸入された小売販売の利点により、国際女性の日（3月8日）に際して、ハチハチジャパンショップは　30万ドン以下の手頃な価格で色々な商品を組み合わせて、ユニークなギフトセットの提案していきます。おすすめギフトセットには可愛いミニカードが添付されています。これは女性への繊細なギフトで、受取人を喜ばせるだけでなく、買い手に安心と信頼をもたらします。
      </p>
      <p style="font-size: 16px; font-weight: 700; color: #649E0F; text-align: right;">Writer’s Name</p>
  </div>

  <div class="layout-right">
      <img src="assets/img/image 2.png" alt="">
  </div>
</div>

