<div class="sisdebar col-4">

  <nav class="side-menu">
      <div class="menu">
          <ul>
              <li *ngFor="let navMenu of navMenus; let i = index">
                  <a href="#" style="color: #9973b3; font-weight: bold;">{{navMenu.sildeOne}}
                    <!-- <fa-icon [icon]="faChevronDown" style="float: right;" ></fa-icon> -->
                    <fa-icon [ngClass]="navMenu.fontOne + ' fa'" style="float: right;" ></fa-icon>
                  </a>

                  <ul style="background-color: white; padding: 10px 0 10px 25px; margin: 10px 0;">
                      <li>
                          <!-- <a href="#" ><fa-icon [icon]="faBuilding"></fa-icon>{{navMenu.sildeTwo}}</a> -->
                          <a href="#"><fa-icon  [ngClass]="navMenu.fontTwo + ' fa'" style="color: #000000;"></fa-icon>{{navMenu.sildeTwo}}</a>
                      </li>

                      <li>
                          <a href="#" *ngIf="navMenu.sildeThree != undefined"><fa-icon [ngClass]="navMenu.fontThree + ' fa'" style="font-size: 13px; color: red;"></fa-icon>{{navMenu.sildeThree}}</a>
                      </li>
                  </ul>
              </li>

          </ul>
      </div>
  </nav>
</div>
