.sisdebar{
  background-color: #eaebef;
  width: 20%;
  min-width: 100%;
  height: 100%;
  left: 0;
  font-size: 13.5px;
  padding: 42px 1.5rem 10px 0.5rem;
}

.menu ul li{
  list-style-type: none;
  width: 280px;
}

.menu ul li a{
  text-decoration: none;
}

.menu i{
  margin-right: 2px;
}

.menu .bi-chevron-down{
  transition: transform linear 0.2s;
}

.menu .bi-chevron-down:hover{
  transform: rotateZ(180deg);
}

.menu ul li ul li a{
  color: #4a525f;
  display: block;
  padding: 5px 0 5px 10px;
}
.menu ul li ul li a:hover{
  background-color: #eaebef;
  font-weight: bold;
  width: 240px;

}

fa-icon{
  margin-right: 5px;
}











