<div class="sisdebar col-3">

  <nav class="side-menu">
      <div class="menu">
          <ul>
              <li>
                  <a href="#" class="first-btn">Thiết lập chung
                      <span class="fas fa-chevron-down first"></span>
                  </a>

                  <ul class="first-show">
                      <li>
                          <a href="#" style="background-color: white;"><i class="far fa-building"
                                  style="font-size: 13px; color: #77a3a9;"></i>Thông tin công ty</a>
                      </li>

                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-dollar-sign"
                                  style="font-size: 13px; color: red;"></i>Tình trạng hợp đồng</a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#" class="second-btn">Quản Trị Hệ Thống
                      <span class="fas fa-chevron-down second"></span>
                  </a>

                  <ul class="second-show">
                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-user"
                                  style="font-size: 13px; color: green;"></i>Nhân sự</a>
                      </li>

                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-users"
                                  style="font-size: 13px; color: rgb(219, 219, 77);"></i>Vai Trò</a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#" class="third-btn">Thiết lập dữ liệu bắt buộc
                      <span class="fas fa-chevron-down third"></span>
                  </a>

                  <ul class="third-show">
                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-sitemap"
                                  style="font-size: 13px; color: blue;"></i>Cơ cấu tổ chức</a>
                      </li>

                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-street-view"
                                  style="font-size: 13px; color: green;"></i>Cơ cấu chức danh</a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#" class="four-btn">Thiết lập cho hệ thống cơ cấu tổ chức
                      <span class="fas fa-chevron-down four"></span>
                  </a>

                  <ul class="four-show">
                      <li>
                          <a href="#" style="background-color: white;"><i class="far fa-file-alt"
                                  style="font-size: 13px; "></i>Biểu mẫu bảng MTCV</a>
                      </li>
                  </ul>
              </li>

              <li>
                  <a href="#" class="five-btn">Thiết lập cho hệ thống đánh giá n.lực
                      <span class="fas fa-chevron-down five"></span>
                  </a>

                  <ul class="five-show">
                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-cogs"
                                  style="font-size: 13px; color: blue;"></i>Cấu hình công ty</a>
                      </li>

                      <li>
                          <a href="#" style="background-color: white;"><i class="fas fa-envelope"
                                  style="font-size: 13px; color: blue;"></i>Biểu mẫu Email</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</div>
